body {
	background-color: black;

}
a:hover {
    filter: brightness(85%);
 }
p {
	font-family: 'Open Sans', sans-serif;
	color: white;
	position: relative;
	bottom: 90px;
}

h1 {
	font-family: 'Roboto', sans-serif;
	color:#FF6C78;
	font-size: 200%;
	position: relative;
	bottom: 70px;
}
img {
	height: 15em;
	width: auto;
	left: 0%;
	bottom: 10px;
}
hr {
	position: relative;
	bottom: 3.8em;
}
