body {
	background-color: black;
}
a {
  text-decoration: none;
}
 a:hover {
    text-shadow: 2px 2px #6CD4FF;
 }
img:hover {
    filter: brightness(85%); 
 }

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	img {
		  height: auto;
		  width:  100%;
		  position: absolute;
		  margin: 0 auto;
}
	
table {
			color: white;
			position: relative;
			width: 90%;
			font-size: 240%;
			font-family: 'Roboto', sans-serif;
			top: 10em;
			text-align: center;

}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	img {
  height: auto;
		  width:  100%;
		  position: absolute;
		  margin: 0 auto;
	}
table {
			color: white;
			position: relative;
			width: 90%;
			font-size: 240%;
			font-family: 'Roboto', sans-serif;
			top: 10em;
			text-align: center;
}
a:hover {
  color: #9EE493;

	
}
}



/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	img {
  width: 90%;
  height: auto;
  position: absolute;
  top: 20%;
  float:right;
  left: 5%;
  margin: 10px
}
	
table {
			color: white;
			position: absolute;
			top: 50%;
			left: 70%;
			margin: 10px;
			font-size: 350%;
			font-family: 'Roboto', sans-serif;
			text-align: left;
			width: 70%;

}	

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	img {
  width: 60%;
  height: auto;
  position: absolute;
  top: 20%;
  float:right;
  left: 5%;
  margin: 10px
}

table {
			color: white;
			position: absolute;
			top: 25%;
			float:right;
			left: 62.25%;
			margin: 10px;
			font-size: 280%;
			font-family: 'Roboto', sans-serif;
			text-align: left;
			width: 37%;


}
	
	
	
	
	
	
	
	
	
	
	
	
	
}




~~!why the fuck isn't this working~~





