body {
	background-color: black;
}
a {
  text-decoration: none;
  color: inherit;
}
 a:hover {
    text-shadow: 1px 1px #c20000;
 }

a img:hover {
	    filter: brightness(85%);
	 }





body p {
color: white;
font-family: 'Roboto', sans-serif;
}

body h1 {
font-family: 'Montserrat', sans-serif;
color: #FF6C78;
}

body h2 {
font-family: 'Montserrat', sans-serif;
color: #FF6C78;
font-size: 80%;

}
img {
	height: 15em;
	width: auto;
	left: 0%;
	bottom: 25px;
}
