body {
	background-color: #121212;
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  font-size: 110%;
	margin:0
}


h1 {
  font-size: 250%;
  font-style: italic;
}


h2 {
  font-size: 200%;
  text-decoration: underline;
}

a:visited {
   color: #008ED0;
   text-decoration: none;

}

a:link {
  color: #008ED0;
  text-decoration: none;
}

li {
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  font-size: 110%;
  text-decoration: none;
}


/* The sidebar menu */
.sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #018acf; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.2s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #121212;
	text-shadow:2px 2px #99d0eb
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: transparent;
  color: white;
  padding: 10px 15px;
  border: none;
  outline: none;
}

.menu-image:hover {
  filter: brightness(85%);
}

.menu-image	{
	shadow: 2px 2px black;
}
